.button {
  display: flex;
  justify-content: center;
  border: none;
  background: $c_main-black;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  letter-spacing: 5.32px;
  font-weight: 700;
  transition: background .4s ease;
  cursor: pointer;

  &:hover {
    background: lighten($c_main-black, 15%);
  }

  &--promo {
    width: 270px;
    height: 60px;
  }
  &--order {
    width: 270px;
    height: 60px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}