*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

html {
  font-family:  'Oswald', sans-serif;
  font-size: 14px;
  color: $c_main-black;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#__nuxt,
#__layout,
#app {
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

ul {
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.padded {
  padding: 0 60px;

  @include for-tablet-portrait {
    padding: 0 20px;
  }
  @include for-phone-only {
    padding: 5px;
  }
}

.page-container {
  flex: 1 0 auto;
}

.page-title {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 5.76px;
  padding-top: 30px;
  margin-bottom: 30px;

  &--detail {
    //text-transform: none;
    letter-spacing: normal;
    margin-bottom: 60px;
  }
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;

  &--home {
    flex-wrap: nowrap;

    @include for-tablet-portrait {
     display: block;
    }
  }
}

.scroll-down-container {
  text-align: center;
  color: $c_main-black;
  font-size: 40px;
  line-height: 1;
  margin:20px 0 60px;
  @include for-phone-only {
    display: none;
  }
  a {
    color: inherit;
    overflow: hidden;

    @include hover {
      &:hover {
        color: lighten($c_main-black, 10%);
      }
    }
  }

}

.top-categories-container {
  margin-bottom: 60px;
}

.top_categories__item {
  position: relative;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
  transition: .3s;

  @include hover {
    &:hover {
      filter: saturate(10%);
    }
  }

  &:nth-child(1) {
    width: calc(50% - 10px);
    margin-right: 20px;
    padding-top: calc(40% + 20px);

    @include for-phone-only {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      padding-top: 50%;
    }
  }
  &:nth-child(2) {
    width:calc(25% - 20px);
    padding-top: 20%;
    margin: 0 20px 20px 0;

    @include for-phone-only {
      width: calc(50% - 10px);
      padding-top: 40%;
    }
  }
  &:nth-child(3) {
    width: calc(25% - 10px);
    padding-top: 20%;
    margin-bottom: 20px;

    @include for-phone-only {
      width: calc(50% - 10px);
      padding-top: 40%;
    }
  }
  &:nth-child(4) {
    width: calc(50% - 10px);
    padding-top: 20%;

    @include for-phone-only {
      width: 100%;
      padding-top: 40%;
    }
  }
}

.top-categories__title {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  left: 30px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3.52px;
  text-transform: uppercase;

  @include for-tablet-portrait {
    font-size: 18px;
  }
  @include for-phone-only {
    font-size: 16px;
  }
}

.section-title-container {
  flex-basis: 266px;
  align-self: center;
  flex-shrink: 0;
  flex-grow: 0;

  @include for-tablet-portrait {
    text-align: center;
    margin-bottom: 30px;
  }
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3.52px;
}

.offset {
  margin-left: -20px;
}

.product-detail-container {
  display: flex;
  position: relative;
  margin-bottom: 60px;

  & > div {
    flex-basis: 50%;
  }
}
.product-detail-img {
  padding-right: 45px;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
.product-detail-info {
  padding: 0 100px 0 15px;

  p {
    margin-bottom: 30px;
  }
}
.product-detail-props {

  td:first-child {
    font-weight: 700;
    width: 180px;
  }
  td:last-child {
    text-transform: capitalize;
  }

  &-title {
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin-bottom: 20px;
  }
}