
.filter-container {
  margin-bottom: 60px;
  font-size: 18px;
  font-weight: 700;
  &-inner {
    display: inline-block;

    @include for-tablet-portrait {
      display: block;
    }
    @include for-phone-only {
      display: flex;
      flex-direction: column;
      text-align: initial;
      align-items: center;
    }
  }
}
.filter-title {
  text-transform: uppercase;
  letter-spacing: 2.88px;
  cursor: default;
  @include for-tablet-portrait {
    display: none;
  }
}
.filter-item {
  margin-left: 30px;
  display: inline-block;
  position: relative;
  &__current-option {
    text-transform: uppercase;
    cursor: pointer;
  }
  &__options {
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0;
    position: absolute;
    z-index: 200;
    list-style: none;
    text-align: left;
    background:#fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.4);
    width: 100%;
    top: 100%;

    li {
      padding: 2px 20px;
      cursor: pointer;
      white-space: nowrap;

      @include hover {
        &:hover {
          background: #eee;
        }
      }
    }
  }
  @include for-phone-only {
    margin: 0;
    padding: 3px 0;
  }
}