.product-container {
  //width: 25%;
  max-width: 297px;
  margin-bottom: 20px;
  position: relative;
	overflow: hidden;
	text-align: center;

  img {
    position: relative;
	  display: block;
	  min-height: 100%;
	  max-width: 100%;
  }

  .product-detail {
    position: absolute;
    color: #fff;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    background-color: rgba($c_main-black, 0.8);
    //box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.795);
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale3d(1.4,1.4,1);

  }
  &:hover .product-detail {
    opacity: 1;
    transform: scale3d(1,1,1);
  }
  h3 {
    margin-top: 45%;
    font-size: 18px;
    letter-spacing: normal;
    max-height: 3em;
    margin-bottom: 30px;
    overflow: hidden;
  }
  .btn-detail {
    background: #fff;
    border: none;
    font-family: inherit;
    font-size: 14px;
    letter-spacing: 5.32px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 0 13px 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
    width: calc(100% - 40px);
  }
}
.products-slider {
  .product-container {
    margin-bottom: 0;
  }
}