.promo {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  &-container {
    margin-bottom: 90px;
  }

  &-info {
    max-width: 40%;
    margin: 35px 50px 25px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-transform: uppercase;
    @include for-tablet-portrait {
      max-width: 80%;
    }
    @include for-phone-only {
      align-items: center;
      width: 100%;
      margin: 35px auto;
    }
    h4 {
      font-size: 60px;
      text-align: right;
      margin-bottom: 25px;

      @include for-tablet-landscape {
        font-size: 42px;
      }
      @include for-phone-only {
        font-size: 28px;
      }
    }
  }
}