.hero-container {
  width: 100%;
  position: relative;

  &-inner {
    width: calc(100% - 60px);
    margin-left: 60px;
    position: relative;
  }

  .swiper-container {
    overflow: initial;
  }
}

.hero-slider {

  &__item {
    position: relative;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
.slide-item-info {
  position: absolute;
  text-align: right;
  bottom: 0;
  width: 100%;
}
.swiper-pagination-custom-bullets {
  width: 6px;
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);

  .swiper-pagination-bullet {
    background:#999;
    width: 6px;
    height: 6px;
    margin-bottom: 15px;
    display: inline-block;

    &-active {
      background: #000;
    }
  }
}
.swiper-button {
  top: 100%;
  position: absolute;
  background: $c_main-black;
  background-image: none;
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 22px;
  margin: 0;
  text-align: center;
  padding-top: 2px;
  transition: background .4s ease;

  &:hover {
    background: lighten($c_main-black, 15%);
  }
}
.product-slider-controls {
  padding-left: 1px;

  .swiper-button {
    position: static;
    display: inline-block;
  }
}

.hero-swiper-button-prev {
  left: 0;
}
.hero-swiper-button-next {
  left: 50px;
}
.product-slider {
  .product-container {
    margin-bottom: 0;
    // min-width: 25%;
    padding: 0;
  }
}

.products-slider-container {
  flex-basis: 980px;
  flex-grow: 1;
}

.product-slider-outer {
  margin: 0 -10px;
}