.hero-container {
  width: 100%;
  position: relative;

  &-inner {
    width: calc(100% - 60px);
    margin-left: 60px;
    position: relative;

    @include respond-to($tablet-portrait) {
      width: calc(100% - 20px);
      margin-left: 20px;
    }
  }

  .swiper-container {
    overflow: initial;
  }
}

.hero-slider {

  &__item {
    position: relative;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
.slide-item-info {
  position: absolute;
  text-align: right;
  bottom: 0;
  width: 100%;
}
.swiper-pagination-custom-bullets {
  width: 6px;
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);

  .swiper-pagination-bullet {
    background:#999;
    width: 6px;
    height: 6px;
    margin-bottom: 15px;
    display: inline-block;

    &-active {
      background: #000;
    }
  }
  &.product-swiper-pagination {
    position: relative;
    left: 0;
    top: -2px;
    display: inline-block;
    width: auto;
    transform: none;
    margin-left: 35px;

    .swiper-pagination-bullet {
      margin: 0 0 0 15px;
    }
  }
}
.swiper-button {
  top: 100%;
  position: absolute;
  background: $c_main-black;
  background-image: none;
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 22px;
  margin: 0;
  text-align: center;
  padding-top: 2px;
  cursor: pointer;
  transition: background .4s ease;

  &:hover {
    background: lighten($c_main-black, 15%);
  }
}
.product-slider-controls {

  .swiper-button {
    position: static;
    display: inline-block;
  }
}

.hero-swiper-button-prev {
  left: 0;
}
.hero-swiper-button-next {
  left: 50px;
}
.product-slider-container {
  width: calc(100% - 266px);
  position: relative;
}


.product-slider {
  .product-container {
    flex-basis: auto;
    margin: 0;
  }
}
.product-swiper-link {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 5.32px;
  font-weight: 700;
  vertical-align: middle;
  margin-left: 50px;

  a {
    text-decoration: none;
    color: inherit;
  }
}